NEXT_PUBLIC_SUPABASE_URL=https://kimueaanfzczlktqhkye.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_pVpPe-BjRF9XdKtxwgx1vw_MsINobkV
NEXT_PUBLIC_APP_URL=https://cne-venezuela.vercel.app
NEXT_PUBLIC_APP_NAME=CNE Venezuela
