NEXT_PUBLIC_SUPABASE_URL=https://eabkwmdginikgxhotbdh.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_0mCYP5hlr3jSRYpZlsYtBw_5HzHxGJ5
NEXT_PUBLIC_APP_URL=https://cne-venezuela.vercel.app
NEXT_PUBLIC_APP_NAME=CNE Venezuela
